body{
	background: linear-gradient(to bottom, grey, rgb(102, 64, 64))fixed;
	}

.container{
	margin:auto;
	text-align: center;
		}
h2{
	font-size: 45px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
  }

h1{
	font-size: 40px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
  }

.dice-area{
	margin: 0px 100px;
	text-align: center;
	display: inline-block;
    	  }

p{
	font-weight: bold;
	font-size: 30px;
	color:black;
	font-family: Arial, Helvetica, sans-serif;
 }

img{
	width:320px;
	height: 320px;
	}

button{
	background-color:grey ;
	color:black;
	position: absolute;
	bottom: 60px;
	left: 692px;
	text-align: center;
	font-size: 27px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	}


